<script type="text/javascript">
    document.addEventListener('flAutocompleteReady', function (e) {
        e.detail.flAutocomplete.afterRendering = function () {
            const inputElement = e.detail.flAutocompleteUiWidget.element[0];
            const minimalSearchTermLength = inputElement.minLength;
            const searchTerm = inputElement.value;

            if (searchTerm.length < minimalSearchTermLength) {
                e.detail.autocompleteUlElement.css({
                    display: 'none'
                });

                return;
            }

            e.detail.autocompleteUlElement.css({
                display: 'block'
            });
        };
    }, false);

    window.flCeresConfig = {};
    flCeresConfig.isSearchPage = {{ isSearchPage ? 'true' : 'false' }};
    flCeresConfig.activeOnCatPage = {{ activeOnCatPage ? 'true' : 'false' }};

    document.addEventListener('DOMContentLoaded', function (e) {
        // Ensure item-search template is available for Smart Suggest initialization
        vueApp.$store.dispatch('loadComponent', 'item-search');
        (function (f,i,n,d,o,l,O,g,I,c){var V=[];var m=f.createElement("style");if(d){V.push(d)}if(c&&I.location.hash.indexOf("#search:")===0){V.push(c)}if(V.length>0){var Z=V.join(",");m.textContent=Z+"{opacity: 0;transition: opacity "+O+" ease-in-out;}."+o+" {opacity: 1 !important;}";I.flRevealContainers=function(){var a=f.querySelectorAll(Z);for(var T=0;T<a.length;T++){a[T].classList.add(o)}};setTimeout(I.flRevealContainers,l)}var W=g+"/static/"+i+"/main.js?usergrouphash="+n;var p=f.createElement("script");p.type="text/javascript";p.async=true;p.src=g+"/static/loader.min.js";var q=f.getElementsByTagName("script")[0];p.setAttribute("data-fl-main",W);q.parentNode.insertBefore(p,q);q.parentNode.insertBefore(m,p)})(document,'{{ shopkey }}','','.fl-navigation-result','fl-reveal',3000,'.3s','//cdn.findologic.com',window,'.fl-result');
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/svg-injector/1.1.3/svg-injector.min.js"></script>
<script src="{{ plugin_path("Findologic") }}/js/dist/findologic_ceres.js"></script>
{#<script src="https://localhost:8080/findologic_ceres.js"></script>#}

{% if isSearchPage or activeOnCatPage %}
{#    <script src="{{ plugin_path("Findologic") }}/js/dist/filters-component-min.js"></script>#}
<!-- SSR:entry({{ ssr_entry('Findologic', 'resources/js/dist/findologic_ceres.js') }}) -->
{% endif %}

<!-- SSR:template(item-filter-list) -->
<script type="x/template" data-component="item-filter-list">
    <div class="findologic-filter-wrapper"
         :class="{'mb-5': facets.some(e => e.isMain === true)}"
         v-show="facets && facets.length > 0">
        {{ component( "Findologic::ItemList.Components.Filter.ItemFilter") }}
        {{ component( "Ceres::ItemList.Components.Filter.ItemFilterPrice") }}
        {{ component( "Findologic::ItemList.Components.Filter.ItemRangeSlider") }}
        {{ component( "Findologic::ItemList.Components.Filter.ItemColorTiles" ) }}
        {{ component( "Findologic::ItemList.Components.Filter.ItemDropdown" ) }}
        {{ component( "Findologic::ItemList.Components.Filter.ItemCategoryDropdown" ) }}
        {{ component( "Findologic::ItemList.Components.Filter.ItemFilterPrice" ) }}
        {{ component( "Findologic::ItemList.Components.Filter.ItemFilterImage" ) }}

        <div class="ml-0 main-filters">
            <div class="container-max component-loading page-content" :class="{ 'isLoading': isLoading }">
                <div class="card-columns row">
                    <div class="w-100">
                        <findologic-item-filter template-override="#vue-findologic-item-filter"
                                                v-bind:filtersPerRow="{{ config("Findologic.filters_per_row") }}"
                                                v-bind:fallbackImageColorFilter="'{{ plugin_path("Findologic") }}/images/no-picture.png'"
                                                v-bind:fallbackImageImageFilter="'{{ plugin_path("Findologic") }}/images/no-picture-2.png'"
                                                v-for="facet in facets"
                                                :facet="facet"
                                                :key="facet.id"></findologic-item-filter>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- /SSR -->

<!-- SSR:template(item-search) -->
<script type="x/template" data-component="item-search">
    {{ component( "Findologic::ItemList.Components.ItemSearch") }}

    <form method="GET" action="/search" @submit="search()">
        <div class="container-max">
            <div class="position-relative">
                <div class="d-flex flex-grow-1 position-relative my-2">
                    <input name="query"
                           type="search"
                           class="search-input flex-grow-1 px-3 py-2"
                           ref="searchInput"
                           {% if minimalSearchTermLength > 0 %}
                               minlength="{{ minimalSearchTermLength }}"
                           {% endif %}
                           @keyup.down="keydown()"
                           @keyup.up="keyup()"
                           @focus="isSearchFocused = true"
                           @blur="setIsSearchFocused(false)"
                           autofocus>
                    <button class="search-submit px-3" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</script>
<!-- /SSR -->
