<script type="text/javascript">
    document.addEventListener('flAutocompleteReady', function (e) {
        e.detail.flAutocomplete.afterRendering = function () {
            const inputElement = e.detail.flAutocompleteUiWidget.element[0];
            const minimalSearchTermLength = inputElement.minLength;
            const searchTerm = inputElement.value;

            if (searchTerm.length < minimalSearchTermLength) {
                e.detail.autocompleteUlElement.css({
                    display: 'none'
                });

                return;
            }

            e.detail.autocompleteUlElement.css({
                display: 'block'
            });
        };
    }, false);

    window.flCeresConfig = {};
    flCeresConfig.isSearchPage = {{ isSearchPage ? 'true' : 'false' }};
    flCeresConfig.activeOnCatPage = {{ activeOnCatPage ? 'true' : 'false' }};

    document.addEventListener('DOMContentLoaded', function (e) {
        // Ensure item-search template is available for Smart Suggest initialization
        vueApp.$store.dispatch('loadComponent', 'item-search');
        (function (f,i,n,d,o,l,O,g,I,c){var V=[];var m=f.createElement("style");if(d){V.push(d)}if(c&&I.location.hash.indexOf("#search:")===0){V.push(c)}if(V.length>0){var Z=V.join(",");m.textContent=Z+"{opacity: 0;transition: opacity "+O+" ease-in-out;}."+o+" {opacity: 1 !important;}";I.flRevealContainers=function(){var a=f.querySelectorAll(Z);for(var T=0;T<a.length;T++){a[T].classList.add(o)}};setTimeout(I.flRevealContainers,l)}var W=g+"/static/"+i+"/main.js?usergrouphash="+n;var p=f.createElement("script");p.type="text/javascript";p.async=true;p.src=g+"/static/loader.min.js";var q=f.getElementsByTagName("script")[0];p.setAttribute("data-fl-main",W);q.parentNode.insertBefore(p,q);q.parentNode.insertBefore(m,p)})(document,'{{ shopkey }}','','.fl-navigation-result','fl-reveal',3000,'.3s','//cdn.findologic.com',window,'.fl-result');
    });
</script>

<script src="{{ plugin_path("Findologic") }}/js/dist/findologic_ceres.js"></script>
{#<script src="https://localhost:5173/resources/js/dist/findologic_ceres.js"></script>#}

{% if isSearchPage or activeOnCatPage %}
<!-- SSR:entry({{ ssr_entry('Findologic', 'resources/js/dist/findologic_ceres.js') }}) -->
{% endif %}

<!-- SSR:template(item-filter-list) -->
<script type="x/template" data-component="item-filter-list">
    <findologic-filter-wrapper
        v-bind:facets="facets"
        v-bind:filtersPerRow="{{ config('Findologic.filters_per_row') }}"
        v-bind:fallbackImageColorFilter="'{{ plugin_path("Findologic") }}/images/no-picture.png'"
        v-bind:fallbackImageImageFilter="'{{ plugin_path("Findologic") }}/images/no-picture-2.png'"
        v-bind:currentCategory="{{ currentCategory | json_encode }}"
        v-bind:showCategoryFilter="{{ showCategoryFilter | json_encode }}"
        v-bind:showSelectedFiltersCount="{{ config('Findologic.show_selected_filter_count') }}"
    ></findologic-filter-wrapper>
</script>
<!-- /SSR -->

<!-- SSR:template(item-filter-tag-list) -->
<script type="x/template" data-component="item-filter-tag-list">
    <findologic-item-filter-tag-list></findologic-item-filter-tag-list>
</script>
<!-- /SSR -->

<!-- SSR:template(item-search) -->
<script type="x/template" data-component="item-search">
    <form method="GET" action="{{ languagePath }}/search" @submit="search()">
        <div class="container-max" :class="{'p-0' : $ceres.isShopBuilder}">
            <div class="position-relative">
                <div class="d-flex flex-grow-1 position-relative my-2">
                    <input name="query"
                            type="search"
                            class="search-input flex-grow-1 px-3 py-2"
                            ref="searchInput"
                            {% if minimalSearchTermLength > 0 %}
                                minlength="{{ minimalSearchTermLength }}"
                            {% endif %}
                            :placeholder="$translate('Ceres::Template.headerSearchPlaceholder')"
                            :aria-label="$translate('Ceres::Template.headerSearchTerm')"
                            v-model="searchString"
                            @keyup.enter="search()"
                            @input="onValueChanged($event.target.value)"
                            @focus="isSearchFocused = true"
                            @blur="onBlurSearchField($event)"
                        >

                    <slot name="search-button">
                        <button class="search-submit px-3"
                                type="submit"
                                @click="search()"
                                :aria-label="$translate('Ceres::Template.headerSearch')">
                            <i class="fa fa-search"></i>
                        </button>
                    </slot>
                </div>
            </div>
        </div>
    </form>
</script>
<!-- /SSR -->