{{ component( "Findologic::ItemList.Components.Filter.ItemFilterList") }}
{{ component( "Findologic::ItemList.Components.Filter.ItemFilterTagList") }}

<div class="list-controls">
    <div class="row">
        <div class="col-12">
            <div class="list-wrapper">
                <client-only>
                    <findologic-item-filter-list template-override="#vue-findologic-item-filter-list"
                                                 :facet-data="{{ facets | json_encode }}"
                                                 :show-selected-filters-count="{{ config('Findologic.show_selected_filter_count') }}"
                                                 :current-category="{{ currentCategory | json_encode }}"
                                                 :show-category-filter="{{ showCategoryFilter | json_encode}}"
                    ></findologic-item-filter-list
                    >
                </client-only>
            </div>
        </div>
    </div>
</div>
