<script type="x/template" id="vue-item-filter-list">
    <div class="findologic-filter-wrapper" :class="{'mb-5': facets.some(e => e.isMain === true)}" v-show="facets && facets.length > 0">
        {{ component( "Findologic::ItemList.Components.Filter.ItemFilter") }}
        {{ component( "Ceres::ItemList.Components.Filter.ItemFilterPrice") }}
        {{ component( "Findologic::ItemList.Components.Filter.ItemRangeSlider") }}
        {{ component( "Findologic::ItemList.Components.Filter.ItemColorTiles" ) }}
        {{ component( "Findologic::ItemList.Components.Filter.ItemDropdown" ) }}

        <div class="ml-0 main-filters" v-if="facets.some(e => e.isMain === true)">
            <div class="container-max component-loading page-content" :class="{ 'isLoading': isLoading }">
                <div class="card-columns row">
                    <item-filter v-for="facet in facets" v-if="facet.isMain" :facet="facet" :key="facet.id"></item-filter>
                </div>
                <div class="row">
                    <a class="btn btn-link filter-toggle" data-toggle="collapse" href="#filterCollapse" aria-controls="filterCollapse">
                        <i class="fa fa-sliders default-float" aria-hidden="true"></i> {{ trans("Findologic::Template.itemFilter") }}
                    </a>
                </div>
            </div>
        </div>
        <div v-else class="ml-0">
            <div class="container-max component-loading" :class="{ 'isLoading': isLoading }">
                <div class="row">
                    <a class="btn btn-link filter-toggle no-main-filters-filter-toggle" data-toggle="collapse" href="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                        <i class="fa fa-sliders default-float" aria-hidden="true"></i> {{ trans("Findologic::Template.noMainFiltersItemFilter") }}
                    </a>
                </div>
            </div>
        </div>
        <div class="ml-0 filter-collapse collapse" id="filterCollapse">
            <div class="container-max component-loading page-content mb-5" :class="{ 'isLoading': isLoading }">
                <div class="card-columns row">
                    <item-filter v-for="facet in facets" v-if="!facet.isMain" :facet="facet" :key="facet.id"></item-filter>
                </div>
            </div>
        </div>
    </div>
</script>